.idea/
__pycache__/
models/
data/datasets/train_validation_dataset_v2
data/datasets/train_validation_dataset_v3
data/datasets/train_validation_dataset_transcription_v2
data/datasets/test_dataset_v2
data/datasets/test_dataset_v3

data/evaluation_data/serbian-cyrillic.dic
evaluation/result-data.txt
evaluation/result-data-whisper-v2.txt
evaluation/result-data-whisper-v3.txt

log.txt