.idea/
__pycache__/
models/
data/datasets/train_validation_dataset
data/datasets/train_validation_dataset_transcription
data/datasets/test_dataset

data/evaluation_data/serbian-cyrillic.dic
evaluation/result-data.txt